@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f1ee;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url(../FIGURA/cerrado.png) ;
    background-size:55%;
    clip-path: circle(50% at bottom right);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header .navegation ul {
    position: relative;
    display: flex;
}

header .navegation li {
    list-style: none;
}

header .navegation li a {
    display: inline-block;
    color: #7d6545;
    font-weight: 500;
    text-decoration: none;
    font-size: 19px;
    margin-left: 100px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .text {
    position: relative;
    max-width: 600px;
    margin-right: 20px;
}

.content .text h2 {
    color: #7d6545;
    font-size: 3em;
    margin-bottom: 10px;
    line-height: 2em;
    font-weight: 700;
}

.content .text h3 {
    color: #7d6545;
    font-size: 1em;
    margin-bottom: none;
    line-height: 2.5em;
    font-weight: 700;
}

.content .text h2 span {
    font-size: 3em;
    color: #c39e87;
}

.content .text p {
    color:#7d6545 ;
}

.content .text a {
    display: inline-block;
    margin-top: 50px;
    padding: 10px 25px;
    background:#7d6545 ;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}




